/* ttt page styling ::;; */
.box3{
    border: 2px solid  rgb(41, 182, 184);
       padding: 34px;
       margin: 39px 55px;
       width:50%;
       border-radius: 53px;
       background:rgb(223 236 239 / 79%);
       margin-bottom: 20px;}
    .box4{
    border: 2px solid rgb(41, 182, 184);
       padding: 34px;
       margin: 39px 55px;
       width:50%;
       border-radius:53px;
       background:rgb(223 236 239 / 79%);
       margin-bottom: 20px;}
.box5{
    border: 2px solid  rgb(41, 182, 184);
       padding: 34px;
       margin: 39px 55px;
       width:50%;
       border-radius: 53px;
       background:rgb(223 236 239 / 79%);
       margin-bottom: 20px;}
    .box6{
    border: 2px solid rgb(41, 182, 184);
       padding: 34px;
       margin: 39px 55px;
       width:50%;
       border-radius:53px;
       background:rgb(223 236 239 / 79%);
       margin-bottom: 20px;}
   
   
   
       #home1 {
           display: flex;
           flex-direction: column;
           padding: 3px 200px;
           height: 600px;
           justify-content: center;
           align-items: center;
           background-image: url(mbag2.gif);
           background-repeat:repeat;
           z-index:-2
       }
       
       #home1::before {
           content: "";
           position: absolute;
       
           width: 750px;
           height: 450px;
           position: absolute;
           border-radius: 65px;
           left :70% ;
           top: 50%;
          
           opacity: 4.8;
           margin:15px 0px;
           transform: translate(-50%, -50%);
           background-image: linear-gradient(120deg, rgba(27 31 34 / 45%), rgba(27 31 34 / 45%)), url('ttg2.gif');
           background-size: 100% 100%;
           box-shadow: 1px 2px 6px 6px white;
           animation: slider 15s infinite linear;
       
       }
       
       @keyframes slider {
           0% {
               background-image: linear-gradient(120deg, rgba(27 31 34 / 45%), rgba(27 31 34 / 45%)), url('ttg2.gif');
           }
       
           35% {
               background-image: linear-gradient(120deg, rgba(27 31 34 / 45%), rgba(27 31 34 / 45%)), url('ttg3.gif');
           }
       
           75% {
               background-image: linear-gradient(120deg, rgba(27 31 34 / 45%), rgba(27 31 34 / 45%)), url('ttgif1.gif');
           }
          
       
       }
       
       #home1 h1 {
           color: rgb(4, 4, 4);
           font-weight: 1000;
           text-align: center;
           vertical-align: top;
           font-family: 'Bree Serif', serif;
           font-size: 3.0rem;
           padding-top: 0px;
           margin-right: 790px ;
       }
       
   
   .year {
       padding: 2px 170px;
   }

   .year a{
       text-decoration: none;
       color: #1f4363;

   }
   
   .yearbutton {
       width: 250px;
       background-color: #78eee2b8;
       text-decoration: none;
       margin: 7px;
       padding: 2px;
       font-size: 20px;
       font-weight: bold;
     border-radius:20px ;
    
   }
   .yearbutton:hover{
       background-color: rgb(81, 217, 172);
      }
    .year a:hover{
        color: rgb(1, 3, 5);
    }  